.form {
    background-color: var(--cor-secundaria);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.form__botao {
    cursor: pointer;
    background-color: var(--cor-primaria);
    border: none;
    padding: .8rem;
    color: #fff;
    font-weight: 600;
    font-size: .9rem;
    border-radius: .5rem;
    width: 150px;
}

@media (min-width: 600px)
{
   .form {
        flex-direction: row;
        gap: 2rem;
   }

   .form__botao {
        align-self: flex-end;
   }

}